* {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#homepage {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url('./starrybackground.png');
  background-repeat: repeat;
  background-size: cover;
}

.center {
  align-items: center;
}

#navbar {
  font-family: comorant;
  position: fixed;
  top: 0;
  margin-left: 2%;
  height:53px;
  width: 96%;
  background-color: rgba(127, 255, 212, 0.363);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 32px;
  padding: 6px 20px;
  background-color: transparent;
  color: rgb(52, 60, 71);
  text-shadow: 0px 1px 9px white;
}

#menu {
  font-size: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgb(198, 2222, 255);
  text-shadow: 0px 0.5px 3px rgb(0, 0, 0);
}

.link-item {
  margin: 0;
  padding: 14px 10px;
  width: auto;
}


a {
  text-decoration: none;
  width: auto;
  color: rgb(198, 2222, 255);
  text-shadow: 0px 0.5px 3px rgb(0, 0, 0);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.form {
  margin-top: 100px;
  font-size: 15px;
  float: right;
}

input {
  border: 1px solid black;
  width: auto;
  height: 20px;

}

.form-item {
  height: 30px;
  display: flex;
  justify-content: flex-start;
}